@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('./components//Navbar/Navbar.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root{
  --background-color: #fafafa;
  --primry-color: #ff6525;
  --text-color-primary: #363030;
  --accent-color: #d2d2d2;
  --container-border-color: #707070;
  --overlay: rgba(0,0,0,0.3);
}

*{
  font-family: 'poppins',sans-serif;
}

body{
  overflow-x: hidden;
  overflow: auto;
  background-color: var(--background-color);
}